.ui.borderless.topmenu.container.menu{
  border: none;
  box-shadow: none;
}

.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.ui.two.column.grid.container{
  align-items: center;
  padding-top:10%;
}

.right.item{
  color: white;
  font-size: 120%;
}

.footer-background {
  background-color: #004030;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
}
